[user]
  name = Jon Terje Tvergrov Kalvatn
  email = jonterje.kalvatn@gmail.com
  useconfigonly = true

[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto

[core]
  excludesfile = ~/.gitignore-global
  autocrlf = false
  pager = less -x4
  editor = vim

[push]
  default = current

[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false

[diff]
  tool = vimdiff
  compactionHeuristic = true
[difftool]
  prompt = false

[alias]
  alias = config --get-regexp alias

  st = status

  ci = commit
  amend = commit --amend
  co = checkout

  di = diff
  dc = diff --cached
  lastlog = diff HEAD^ HEAD

  aa = add --all
  ap = add -p

  lg = log -20 --graph --decorate --pretty=oneline --abbrev-commit
  lga = log --graph --decorate --pretty=oneline --abbrev-commit

  lb = branch -vv
  lba = branch -avv

  rprune = remote prune origin

  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[[:lower:]]"

  diffstash = stash show -p stash@{0}
